In [2]:
import pandas as pd

## Aktifkan kodingan dibawah ketika menggunakan google colab

# from google.colab import files
# data_to_load = files.upload()

In [4]:
df = pd.read_csv('diabetes.csv')
#check data has been read in properly
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
#check number of rows and columns in dataset
df.shape

(768, 9)

In [6]:
#create a dataframe with all training data except the target column
X = df.drop(columns=['Outcome'])

#check that the target variable has been removed
X.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [7]:
#separate target values
y = df['Outcome'].values

#view target values
y[0]

1

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1, stratify=y)

In [9]:
from sklearn.naive_bayes import GaussianNB

model = GaussianNB()

model.fit(X_train, y_train)

GaussianNB()

In [10]:
#check accuracy of our model on the test data
model.score(X_test, y_test)

0.7077922077922078

In [11]:
y_pred = model.predict(X_test)

In [12]:
from sklearn import metrics

print ("hasil klasifikasi: \n", metrics.classification_report(y_test, y_pred))
print ("confusion metrics: \n", metrics.confusion_matrix(y_test, y_pred))

hasil klasifikasi:
               precision    recall  f1-score   support

           0       0.75      0.82      0.78       100
           1       0.60      0.50      0.55        54

    accuracy                           0.71       154
   macro avg       0.68      0.66      0.67       154
weighted avg       0.70      0.71      0.70       154

confusion metrics:
 [[82 18]
 [27 27]]